
.setBorderPopupPanel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(25, 25, 25, 0.55);
    z-index: 9999999;
}


.setBorderPopupWindow {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: 400;
    position: relative;
    width: 405px;
    top: 100px;
    left: -webkit-calc(50% - 200px);
    background-color: rgb(240, 240, 240);
    border: 1px solid gray;
    border-radius: 10px;
    text-shadow: none;
    color: #fff;
    z-index: 9999999;
    -webkit-box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 25px;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 25px;
}

    .setBorderPopupWindow .draggableTitle {
        color: #333;
        font-size: 18px;
        font-weight: normal;
        background-color: rgb(230, 230, 230);
        margin-bottom: 0;
        padding: 5px;
        border-radius: 9px 9px 0 0;
        text-align: left;
        padding-left: 14px;
        border: 0;
        border-bottom: 1px solid grey;
        cursor: move;
    }


    .setBorderPopupWindow .container {
        position: relative;
        height: 380px;
        padding: 8px;
        background-color: white;
        box-sizing: border-box;
    }

        .setBorderPopupWindow .container .innerContainer {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            overflow-y: auto;
        }

   

.setBorderPopupWindow .actionPanel {
    position: relative;
    background-color: white;
    border-top: 1px solid gray;
    height: 51px;
    border-radius: 0 0 9px 9px;
}

    .setBorderPopupWindow .actionPanel .cancelPageButton {
        position: absolute;
        top: 10px;
        left: 15%;
        width: 80px;
    }

    .setBorderPopupWindow .actionPanel .confirmPageButton {
        position: absolute;
        top: 10px;
        right: 15%;
        width: 80px;
    }
