
.pagesMngrWindowPanel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(25, 25, 25, 0.55);
    z-index: 9999999;
}


.pagesMngrWindow {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: 400;
    position: relative;
    width: 405px;
    top: 100px;
    left: -webkit-calc(50% - 200px);
    background-color: rgb(240, 240, 240);
    border: 1px solid gray;
    border-radius: 10px;
    text-shadow: none;
    color: #fff;
    z-index: 9999999;
    -webkit-box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 25px;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 25px;
}

    .pagesMngrWindow .pagesMngrDraggableTitle {
        color: #333;
        font-size: 18px;
        font-weight: normal;
        background-color: rgb(230, 230, 230);
        margin-bottom: 0;
        padding: 5px;
        border-radius: 9px 9px 0 0;
        text-align: left;
        padding-left: 14px;
        border: 0;
        border-bottom: 1px solid grey;
        cursor: move;
    }


    .pagesMngrWindow .pagesMngrContainer {
        position: relative;
        height: 380px;
        padding: 8px;
        background-color: white;
        box-sizing: border-box;
    }

        .pagesMngrWindow .pagesMngrContainer .pagesMngrInnerContainer {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            overflow-y: auto;
        }

        .pagesMngrWindow .pagesMngrContainer .sortablePages {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 99%;
        }

            .pagesMngrWindow .pagesMngrContainer .sortablePages li {
                position: relative;
                margin: 0 5px 5px 5px;
                padding: 5px;
                font-size: 1.2em;
                height: 1.5em;
            }

                .pagesMngrWindow .pagesMngrContainer .sortablePages li.sortablePageToDelete {
                    border-color: rgb(235, 66, 65);
                    border-style: dotted;
                }

html > body .sortablePages li {
    height: 1.5em;
    line-height: 1.2em;
}

.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}

.pagesMngrWindow .pagesMngrContainer .sortablePages li .pageGrip {
    position: absolute;
    top: 8px;
    left: 3px;
    width: 15px;
    height: 20px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BBB), color-stop(4%,#BBB), color-stop(4%,#D3D3D3), color-stop(19%,#D3D3D3), color-stop(19%, rgba(0,0,0,0)), color-stop(27%, rgba(0,0,0,0)), color-stop(27%,#BBB), color-stop(31%,#BBB), color-stop(31%,#D3D3D3), color-stop(46%,#D3D3D3), color-stop(46%, rgba(0,0,0,0)), color-stop(54%, rgba(0,0,0,0)), color-stop(54%,#BBB), color-stop(58%,#BBB), color-stop(58%,#D3D3D3), color-stop(73%,#D3D3D3), color-stop(73%, rgba(0,0,0,0)), color-stop(81%, rgba(0,0,0,0)), color-stop(81%,#BBB), color-stop(85%,#BBB), color-stop(85%,#D3D3D3), color-stop(100%,#D3D3D3));
}

.pagesMngrWindow .pagesMngrContainer .sortablePages li input {
    margin-top: -1px;
    margin-left: 17px;
    width: 83%;
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 3px 8px;
    font-size: medium;
    color: #4D4D4D;
}

.pagesMngrWindow .pagesMngrContainer .sortablePages li:hover input {
    border-color: rgb(190, 190, 190);
    background-color: rgba(255, 255, 255, .65);
}

.pagesMngrWindow .pagesMngrContainer .sortablePages li input:focus {
    -webkit-appearance: textfield;
    background-color: white;
}

.pagesMngrWindow .pagesMngrContainer .sortablePages li.sortablePageToDelete input {
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid transparent;
}

.pagesMngrWindow .pagesMngrContainer .sortablePages li .sortablePageDeleteBtn {
    display: none;
    position: absolute;
    top: 6px;
    right: 3px;
    background-color: transparent;
    border: 0;
    color: #4D4D4D;
}

    .pagesMngrWindow .pagesMngrContainer .sortablePages li .sortablePageDeleteBtn i {
        font-size: large;
    }

    .pagesMngrWindow .pagesMngrContainer .sortablePages li:hover .sortablePageDeleteBtn,
    .pagesMngrWindow .pagesMngrContainer .sortablePages li input:focus + .sortablePageDeleteBtn,
    .pagesMngrWindow .pagesMngrContainer .sortablePages li .sortablePageDeleteBtn:focus {
        display: block;
    }

.pagesMngrWindow .pagesMngrContainer .sortablePages li.sortablePageToDelete .sortablePageDeleteBtn {
    visibility: hidden;
}

.pagesMngrWindow .pagesMngrContainer .sortablePages li .sortablePageDeleteBtn:hover i {
    color: rgb(34, 104, 178);
}

.pagesMngrWindow .pagesMngrContainer .sortablePages li .sortablePageConfirmDeletePnl {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pagesMngrWindow .pagesMngrContainer .sortablePages li.sortablePageToDelete .sortablePageConfirmDeletePnl {
    display: block;
}

.pagesMngrWindow .pagesMngrContainer .sortablePages li .sortablePageConfirmDeletePnl .sortablePageConfirmDeleteBtn {
    position: absolute;
    right: 5px;
    top: 5px;
}

.pagesMngrWindow .pagesMngrActionPanel {
    position: relative;
    background-color: white;
    border-top: 1px solid gray;
    height: 51px;
    border-radius: 0 0 9px 9px;
}

    .pagesMngrWindow .pagesMngrActionPanel .pagesMngrCancelPageButton {
        position: absolute;
        top: 10px;
        left: 15%;
        width: 80px;
    }

    .pagesMngrWindow .pagesMngrActionPanel .pagesMngrConfirmPageButton {
        position: absolute;
        top: 10px;
        right: 15%;
        width: 80px;
    }
