[draggable="true"] {
    cursor: pointer;
}

[ui-builder-mode="record"] .controlWindow {
    display: none;
}

.controlWindow {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    border-top: 1px solid white;
    border-bottom: 1px solid black;
    background-color: #435CC5;
    box-sizing: border-box;
    z-index: 9999;
    -webkit-user-select: none;
}

    .controlWindow .bodyContainer {
        position: relative;
        border-top: 1px solid black;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-scrolling: touch;
        -moz-overflow-scrolling: touch;
    }

    .controlWindow .controlsContainer {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        position: relative;
        width: 100%;
        color: white;
        font: normal 14px Arial;
    }

        .controlWindow .controlsContainer .ctrlGrp {
            position: relative;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            width: 26px;
            height: 107px;
            border: 1px solid #A0B0F0; /* gray; */
            border-right: 0;
            box-sizing: border-box;
            overflow: hidden;
        }

            .controlWindow .controlsContainer .ctrlGrp:last-child {
                border-right: 1px solid #A0B0F0;
            }

            .controlWindow .controlsContainer .ctrlGrp[expanded="true"] {
                -moz-box-flex: 1;
                -ms-box-flex: 1;
                -webkit-box-flex: 1;
                flex: 1 0 auto;
                transition: flex .75s ease-out;
                -moz-transition: -moz-box-flex .75s ease-out;
                -ms-transition: -ms-box-flex .75s ease-out;
                -webkit-transition: -webkit-box-flex .75s ease-out;
                border: 1px solid white;
                border-right: 1px solid white;
            }

                .controlWindow .controlsContainer .ctrlGrp[expanded="true"] + .ctrlGrp {
                    border-left: 1px solid black;
                }

                    .controlWindow .controlsContainer .ctrlGrp[expanded="true"] + .ctrlGrp .ctrlGrpHeader {
                        border-left: 1px solid #A0B0F0;
                    }

                .controlWindow .controlsContainer .ctrlGrp[expanded="true"]:last-child {
                    border-right: 1px solid white;
                }

            .controlWindow .controlsContainer .ctrlGrp .ctrlGrpHeader {
                position: relative;
                display: block;
                box-sizing: border-box;
                width: 26px;
                height: 107px;
                padding: 5px;
                overflow: visible;
                color: whitesmoke;
                cursor: pointer;
            }

            .controlWindow .controlsContainer .ctrlGrp[expanded="true"] .ctrlGrpHeader {
                color: white;
                cursor: default;
            }

            .controlWindow .controlsContainer .ctrlGrp .ctrlGrpHeader .ctrlGrpTitle {
                display: block;
                position: relative;
                -webkit-transform-origin-x: 46px;
                -webkit-transform-origin-y: 50px;
                -webkit-transform: rotate(-90deg);
                width: 100px;
                height: 24px;
                line-height: 20px;
            }

                .controlWindow .controlsContainer .ctrlGrp .ctrlGrpHeader .ctrlGrpTitle:before {
                    display: inline-block;
                    width: 0;
                    height: 0;
                    vertical-align: top;
                    border-left: 4px solid whitesmoke;
                    border-top: 4px solid transparent;
                    border-bottom: 4px solid transparent;
                    border-right: 0;
                    content: "";
                    margin-top: 6px;
                    margin-right: 5px;
                    margin-left: 3px;
                }

            .controlWindow .controlsContainer .ctrlGrp[expanded="true"] .ctrlGrpHeader .ctrlGrpTitle:before {
                display: inline-block;
                width: 0;
                height: 0;
                vertical-align: top;
                border-top: 4px solid white;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
                border-bottom: 0;
                content: "";
                margin-top: 8px;
                margin-right: 4px;
                margin-left: 0px;
            }

            .controlWindow .controlsContainer .ctrlGrp .ctrlGrpBody {
                display: none;
                width: calc(100% - 26px);
                transition: width .75s ease-out;
                -moz-transition: width .75s ease-out;
                -ms-transition: width .75s ease-out;
                -webkit-transition: width .75s ease-out;
                height: 110px;
                background-color: white;
                border-left: 0;
                box-sizing: border-box;
                overflow: hidden;
                padding-left: 2px;
            }

            .controlWindow .controlsContainer .ctrlGrp[expanded="true"] .ctrlGrpBody {
                display: inline-block;
                border-left: 1px solid #A0B0F0; /* gray; */
            }

            .controlWindow .controlsContainer .ctrlGrp .ctrlGrpBody .ctrlList {
                overflow-x: auto;
                overflow-y: hidden;
                -webkit-overflow-scrolling: touch;
                -ms-overflow-scrolling: touch;
                -moz-overflow-scrolling: touch;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                align-content: flex-start;
                height: 108px;
                box-sizing: border-box;
            }
/*
                    .controlWindow .controlsContainer .ctrlGrp .ctrlGrpBody .ctrlList::-webkit-scrollbar {
                        height: 0px;
                        width: 0px;
                    }
                */

.uibNewControl {
    width: 126px;
    float: left;
    box-sizing: border-box;
    margin: 3px 2px;
    padding: .563rem 5px;
    text-align: center;
    /*
    background-color: #666;
    -webkit-border-radius: .356rem;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.12);
	*/
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E5E5E5), to(#F8F8F8));
    background-image: -ms-linear-gradient(top, #E5E5E5, #F8F8F8);
    background: -moz-linear-gradient(center top, #E5E5E5, #F8F8F8);
    border: #C9C8C3 1px solid;
    border-radius: 4px;
    font: normal 12px Arial;
    line-height: 20px;
    color: #4D4D4D;
    text-shadow: 1px 1px 0px white;
    vertical-align: middle;
    cursor: pointer;
}

    .uibNewControl.controlDoubleColumn {
        width: 256px;
    }

    .uibNewControl:hover {
        color: #2268b2;
        border-color: #2268b2;
    }

    .uibNewControl i {
        margin-right: 2px;
    }

    .uibNewControl [class^="fa-"] {
        width: initial !important;
    }

.controlWindow [draggable] {
    -webkit-user-select: none;
    user-select: none;
}

.icon-outline {
    outline: 1px solid rgb(238, 238, 238);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    padding: 0px 3px;
}

.proformaChartIcon {
    display: inline-block;
    height: 15px;
    width: 40px;
    background-size: 40px 15px;
    background-repeat: no-repeat;
    background-image: url('chrome-extension://__MSG_@@extension_id__/resources/charts/proforma.png');
}

.donutChartIcon {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-image: url('chrome-extension://__MSG_@@extension_id__/resources/charts/donut.png');
}


.financialStatementsIcon,
.financialPrioritiesIcon,
.educationFundingIcon,
.cashDebtMngtIcon,
.retirementIcon,
.assetAllocIcon {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}

.financialStatementsIcon {
    background-image: url('chrome-extension://__MSG_@@extension_id__/resources/charts/financialStatements.png');
}

.financialPrioritiesIcon {
    background-image: url('chrome-extension://__MSG_@@extension_id__/resources/charts/financialPriorities.png');
}

.educationFundingIcon {
    background-image: url('chrome-extension://__MSG_@@extension_id__/resources/charts/education.png');
}

.cashDebtMngtIcon {
    background-image: url('chrome-extension://__MSG_@@extension_id__/resources/charts/cashDebtMngt.png');
}

.retirementIcon {
    background-image: url('chrome-extension://__MSG_@@extension_id__/resources/charts/retirement.png');
}

.assetAllocIcon {
    background-image: url('chrome-extension://__MSG_@@extension_id__/resources/charts/assetAlloc.png');
}
