.jsonMapper {
    position: relative;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
}

    .jsonMapper .JSONblock {
        display: inline-block;
        vertical-align: top;
        font-weight: bold;
        font-size: 14px;
		height: 100%;
    }

	.jsonMapper .JSONblock + .JSONblock {
		margin-left: 40px;
	}

    .jsonMapper .linkLine {
        position: absolute;
        -webkit-transform-origin: 0px 0px;
        top: 0px;
        left: 0px;
        width: 0px; /* MUST be 0px */
        height: 0px;
        box-shadow: 0px 0px 0px 1px rgb(71, 157, 247); /* 0px 0px 3px 1px rgb(71, 157, 247); */
    }
	
.prettifyTitle {
    /* height: ; */
}

.prettifyBody {
	height: calc(100% - 20px);
	width: calc(100% + 20px);
}

.prettifyArea {
    border: 1px solid grey;
    font-family: 'Courier New';
    font-size: 12px;
    line-height: normal;
    vertical-align: top;
    padding: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
	height: 100%;
	overflow-y: auto;
}
/*
    .prettifyArea[expected][hasUnmappedValues="true"] {
        border: 1px solid red;
    }

    .prettifyArea[expected][hasUnmappedValues="false"] {
        border: 1px solid green;
    }
*/
    .prettifyArea .prettifyLine {
        position: relative;
        padding-right: 20px;
        border: 1px solid transparent;
    }

.prettifyArea[expected] .prettifyLine {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 12px;
    box-sizing: border-box;
    /*margin: 1px 0;*/
    margin-top: 1px;
    padding-left: 6px;
}

.prettifyArea .prettifyLine .dragCircle {
    cursor: pointer;
    display: none;
    height: 11px;
    width: 11px;
	box-sizing: border-box;
    border-radius: 11px;
    /* background-color: #d6e9ff; */
    border: 1px solid #3c3c3c; /* #9ec7f5; */
    position: absolute;
	right: 2px;
	top: 2px;
	opacity: .5;
	-webkit-transform: translate3d(-1px, 1px, 0);
}

    .prettifyArea .prettifyLine .dragCircle:hover {
        opacity: 1;
    }

	.prettifyLine[binded="true"] .dragCircle,
    .prettifyArea .prettifyLine .dragCircle[dragging="true"] {
        opacity: 1;
    }
	
    .prettifyArea .prettifyLine .dragCircle[dragging="true"] {
        background-color: #dfdeda; /* rgb(152, 224, 248); */
		border: 2px solid rgba(51, 51, 51, 0.8);
		/* z-index: 9999; */
    }
    .prettifyArea .prettifyLine .dragCircle .dragInnerCircle {
        cursor: pointer;
        display: none;
        height: 6px;
        width: 6px;
        border-radius: 6px;
        background-color: #333333;
        position: absolute;
        right: 1px;
        top: 1px;
		-webkit-transform: translate3d(-0.4px, 0.5px, 0);
    }

.prettifyArea .prettifyLine .dragCircle[dragging="true"] .dragInnerCircle,
.prettifyArea .prettifyLine[binded="true"] .dragCircle .dragInnerCircle {
    display: block;
}

.prettifyArea .prettifyLine .dragCircle[dragging="true"] .dragInnerCircle {
    background-color: rgb(71, 157, 247);
	-webkit-transform: translate3d(0.3px, -0.3px, 0) scale(0.8);
}


.prettifyArea .prettifyLine.prettify_draggable,
.prettifyArea .prettifyLine.prettify_droppable,
.prettifyArea .prettifyLine[binded="true"] {
    background-color: rgba(242, 242, 242, 0.30); /* rgba(243, 252, 255, 0.30); */
    border: 1px solid rgba(212, 212, 212, 0.30); /* rgba(212, 233, 255, 0.31); */
    border-radius: 12px;
    box-sizing: border-box;
    /*margin: 1px 0;*/
    margin-top: 1px;
    padding-left: 6px;
}

    .prettifyArea .prettifyLine.prettify_draggable:hover {
        background-color: #dfdeda; /* rgba(243, 252, 255, 1); */
        border: 1px solid #d1cfca; /* rgba(212, 233, 255, 1); */
    }

    .prettifyArea .prettifyLine.prettify_droppable[hover="true"] {
        background-color: #dfdeda; /* rgb(152, 224, 248); */
        border: 1px solid #d1cfca; /* rgb(71, 157, 247); */
    }

    .prettifyArea .prettifyLine.prettify_draggable .dragCircle,
	.prettifyArea .prettifyLine[binded="true"] .dragCircle {
        display: block;
    }


.prettifyArea .prettifyLine .prettifyPart {
    display: inline-block;
    padding-top: 1px;
}

    .prettifyArea .prettifyLine .prettifyPart.prettifyPart_symbol {
        color: black;
    }

    .prettifyArea .prettifyLine .prettifyPart.prettifyPart_mapping {
        background-color: #dfdeda;
        border: 1px solid #d1cfca;
        border-radius: 12px;
        padding-left: 6px;
    }

        .prettifyArea .prettifyLine .prettifyPart.prettifyPart_mapping .mappingRemove {
            color: #333333;
            cursor: pointer;
            margin: 0 3px;
			-webkit-transform: scale(0.8);
        }

    .prettifyArea .prettifyLine .prettifyPart.prettifyPart_comma {
        color: black;
    }

    .prettifyArea .prettifyLine .prettifyPart.prettifyPart_key {
        color: rgb(130,130,130);
    }

.prettifyArea[expected] .prettifyLine .prettifyPart.prettifyPart_key,
.prettifyArea[expected] .prettifyLine .prettifyPart:first-child {
    margin-left: 15px;
}

.prettifyArea[expected] .prettifyLine[hasValue="true"][hasMapping="false"] .prettifyPart.prettifyPart_key {
    /* background-color: rgba(255, 0, 0, .2); */
}

.prettifyArea[expected] .prettifyLine .dropCircle {
    cursor: pointer;
    display: none;
    height: 11px;
    width: 11px;
	box-sizing: border-box;
    border-radius: 11px;
    /* background-color: #d6e9ff; */
    border: 1px solid #3c3c3c; /* #9ec7f5; */
    position: absolute;
	top: 2px;
	opacity: .5;
	-webkit-transform: translate3d(-1px, 1px, 0);
}

.prettifyArea .prettifyLine.prettify_droppable .dropCircle {
    display: block;
}

    .prettifyArea[expected] .prettifyLine.prettify_droppable[hover="true"] .dropCircle {
        opacity: 1;
		border: 2px solid rgba(51, 51, 51, 0.8);
    }

    .prettifyArea[expected] .prettifyLine .dropCircle .dropInnerCircle {
        cursor: pointer;
        display: none;
        height: 6px;
        width: 6px;
        border-radius: 6px;
        background-color: #333333;
        position: absolute;
        right: 1px;
        top: 1px;
		-webkit-transform: translate3d(-0.4px, 0.5px, 0);
    }
	
	.prettifyArea[expected] .prettifyLine.prettify_droppable[hover="true"] .dropInnerCircle,
    .prettifyArea[expected] .prettifyLine[binded="true"] .dropCircle .dropInnerCircle {
        display: block;
    }

    .prettifyArea[expected] .prettifyLine.prettify_droppable[hover="true"] .dropInnerCircle {
		background-color: rgb(71, 157, 247);
		-webkit-transform: translate3d(0.3px, -0.3px, 0) scale(0.8);
    }

.prettifyArea[expected] .prettifyLine[hasValue="true"][hasMapping="true"] .prettifyPart.prettifyPart_key {
    /* background-color: rgba(0, 255, 0, .2); */
}

.prettifyArea .prettifyLine .prettifyPart.prettifyPart_value {
    color: rgb(130,130,130);
    border: 1px solid transparent;
}

.prettifyArea .prettifyLine .prettifyPart.prettifyPart_error {
    color: red;
}

.prettifyArea[available] .prettifyLine[highlightMapping="true"],
.prettifyArea[expected] .prettifyLine[highlightMapping="true"] .prettifyPart.prettifyPart_mapping {
    border-color: rgb(71, 157, 247);
	background-color: rgba(71, 157, 247, .5);
}

.prettifyArea[available] .prettifyLine[highlightMapping="true"] .prettifyPart,
.prettifyArea[available] .prettifyLine[highlightMapping="true"] .dragCircle,
.prettifyArea[available] .prettifyLine[highlightMapping="true"] .dragInnerCircle {
	color: #333333;
}

.prettifyArea[available] .prettifyLine[highlightMapping="true"] .dragCircle {
	opacity: 1;
}