body {
    overflow: hidden;
    background-color: transparent !important;
    margin: 0px;
}

.uib-popup {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,.4);
}

.no-fade {
    transition-duration: 0ms !important;
}
