[ui-builder-mode] {
}

    [ui-builder-mode] .app {
        height: calc(100% - 26px - 110px);
        min-height: calc(100% - 26px - 110px);
    }

[ui-builder-mode="record"] .app {
    height: calc(100% - 26px );
    min-height: calc(100% - 26px );
}

[ui-builder-mode] .app > header {
    top: 26px;
}

[ui-builder-mode] .app > nav {
    top: 66px;
}

.uib-toolbar {
    display: none;
    position: relative;
    width: 100%;
    background-color: #435cc5;
    border-top: 1px solid black;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    overflow: visible;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    color: white;
    z-index: 9999;
    -webkit-user-select: none;
}

[ui-builder-mode] .uib-toolbar {
    display: block;
}

.uib-toolbar .uib-toolbarPanel {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.uib-toolbar .uib-leftToolbar {
    position: relative;
    padding-top: 2px;
    text-align: left;
    margin-left: 10px;
}

[ui-builder-mode="record"] .uib-toolbar .uib-leftToolbar {
    display: none;
}

.uib-toolbar .uib-centerToolbar {
    padding-top: 2px;
    position: relative;
    text-align: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.uib-toolbar .uib-rightToolbar {
    position: relative;
    padding-top: 2px;
    text-align: right;
    margin-right: 10px;
}

[ui-builder-mode="record"] .uib-toolbar .uib-rightToolbar {
    display: none;
}

.uib-toolbar a {
    color: white;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    font-style: italic;
    text-decoration: underline solid rgb(0, 0, 238);
}


    .uib-toolbar a:hover, .uib-toolbar a:visited, .uib-toolbar a:active, .uib-toolbar a:focus {
        color: white;
    }

.uib-toolbar .icon {
    position: relative;
    padding-top: 1px;
    cursor: pointer;
    color: whitesmoke;
}

    .uib-toolbar .icon:hover {
        color: white;
    }

    .uib-toolbar .icon[disabled], .uib-toolbar .icon[disabled]:hover {
        color: #A0B0F0; /* #aaa; */
        cursor: default;
    }

    .uib-toolbar .icon + .icon {
        margin-left: 6px;
    }

.uib-toolbar i.fa {
    font-size: large;
}

.uib-toolbar .uib-newPage::after {
    position: absolute;
    top: 7px;
    left: 3px;
    content: "\f067";
    font-family: FontAwesome;
    font-size: xx-small;
    -webkit-transform: scale(.7, .7);
    cursor: pointer;
}

.uib-toolbar .uib-popups {
    -webkit-transform: scale(0.8, 0.8);
    top: -2px;
    left: 2px;
}

    .uib-toolbar .uib-popups::after {
        position: absolute;
        top: 7px;
        left: 3px;
        content: "\f096";
        font-family: FontAwesome;
        font-size: medium;
        bottom: -4px;
        left: -4px;
        -webkit-transform: scale(1.1, 1.1);
        z-index: -1;
        color: rgba(245, 245, 245, 0.5);
    }

.uib-toolbar .uib-productName {
    color: #white;
    font-weight: bold;
}

.uib-toolbar .uib-productVersion {
    color: #A0B0F0; /* #777; */
    font-weight: bold;
}

.uib-toolbar a + span,
.uib-toolbar span + span,
.uib-toolbar span + a,
.uib-toolbar a + a {
    padding-left: 5px;
}

.uib-toolbar .uib-configMenu {
    display: none;
    position: absolute;
    top: 22px;
    right: -3px;
}


.uib-toolbar .uib-config:hover .uib-configMenu {
    display: block;
}

.uib-toolbar .uib-configMenuHolder {
    position: absolute;
    top: -6px;
    width: 100%;
    height: 10px;
}

.uib-toolbar .uib-configMenuArrow {
    position: absolute;
    top: -5px;
    right: 6px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid whitesmoke;
}

.uib-toolbar .uib-configMenuPanel {
    position: relative;
    top: 0;
    right: 0;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #435cc5;
    box-shadow: 1px 1px 6px;
    overflow: hidden;
}

.uib-toolbar .uib-configMenuItem {
    position: relative;
    width: 100%;
    padding: 3px 10px;
    /* border-top: 1px solid white; */
    border-bottom: 1px solid whitesmoke; /* #666 */
    ;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: whitesmoke;
    white-space: nowrap;
}

    .uib-toolbar .uib-configMenuItem:hover {
        color: white;
        background-color: #A0B0F0; /* gray */
        ;
    }

    .uib-toolbar .uib-configMenuItem:first-child {
        border-top: 0;
    }

    .uib-toolbar .uib-configMenuItem:last-child {
        border-bottom: 0;
    }

.uib-toolbar .hotline-icon {
    background-image: url('chrome-extension://__MSG_@@extension_id__/resources/images/icon-headset.png');
    width: 16px;
    display: inline-block;
    margin-right: 12px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-filter: brightness(5000%);
    position: relative;
    top: 2px;
}


.uib-toolbar .uib-stopRecording {
    display: none;
    width: 16px;
    margin-right: 2px;
    height: 15px;
    position: relative;
    top: 2px;
    border-radius: 20px;
    background-color: red;
    border: 1px solid white;
    outline: 2px solid red;
    -webkit-animation-name: stopRecordingAnimation;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    /*transition: 200ms color ease;*/
}

@-webkit-keyframes stopRecordingAnimation {
    0% {
        color: white;
    }
    40% {
        color: white;
    }
    40% {
        color: red;
    }
    60% {
        color: red;
    }
    60% {
        color: white;
    }
    100% {
        color: white;
    }
}








[ui-builder-mode="record"] .uib-toolbar .uib-stopRecording {
    display: inline-block;
}
