.codejam-window {
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: #ffc195;
    border-radius: 5px;
    border: 1px solid #b6b6b6;
    color: black;
    resize: both;
    height: 630px;
    width: 500px;
    overflow: hidden;
    border-bottom-right-radius: 0px;
    background-color: #ddd;
    flex-direction: column;
    display: flex;
}

    .codejam-window .codejam-title {
        height: 20px;
        border-bottom: 1px solid #b6b6b6;
        box-sizing: border-box;
    }

        .codejam-window .codejam-title .closeBtn {
            position: absolute;
            right: 3px;
            top: 3px;
            background-color: #999;
            border-radius: 2px;
            border: 1px solid #666;
            width: 15px;
            text-align: center;
            font-size: 10px;
        }

    .codejam-window .codejam-container {
        background-color: #fedcc4;
        padding: 15px;
        height: calc(100% - 50px);
        box-sizing: border-box;
        flex-grow: 1;
        flex-direction: column;
        display: flex;
        position: relative;
    }

        .codejam-window .codejam-container .reset,
        .codejam-window .codejam-container .save {
            position: absolute;
            height: 20px;
            width: 20px;
            top: 10px;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .codejam-window .codejam-container .reset {
            right: 40px;
            background-image: url('chrome-extension://__MSG_@@extension_id__/resources/small-reset_button.jpg');
        }

        .codejam-window .codejam-container .save {
            RIGHT: 10PX;
            background-image: url('chrome-extension://__MSG_@@extension_id__/resources/SaveButton.png');
        }

    .codejam-window .codejam-code-panel {
        flex-grow: 1;
        flex-direction: column;
        display: flex;
    }

        .codejam-window .codejam-code-panel .codejam-code-panel-tabs li {
            list-style: none;
            display: inline;
        }

        .codejam-window .codejam-code-panel .codejam-code-panel-tabs {
            -webkit-margin-before: 0px;
            -webkit-margin-after: 0px;
            -webkit-padding-start: 0px;
        }

            .codejam-window .codejam-code-panel .codejam-code-panel-tabs a {
                padding: 5px 10px;
                display: inline-block;
                background: #666;
                color: #fff;
                text-decoration: none;
            }

                .codejam-window .codejam-code-panel .codejam-code-panel-tabs a.active {
                    background: #fff;
                    color: #000;
                }


    .codejam-window .codejam-container .codejam-code-panel .codejam-code-container {
        background-color: #e8e8e8;
        border: 1px solid #b6b6b6;
        height: 100%;
        flex-grow: 1;
        resize: none;
        tab-size: 4;
    }

    .codejam-window .codejam-actions {
        height: 30px;
        border-top: 1px solid #b6b6b6;
        box-sizing: border-box;
    }

        .codejam-window .codejam-actions .codejam-trywithsample {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
