
.requestSupportPanel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(25, 25, 25, 0.55);
    z-index: 9999999;
}


.requestSupportWindow {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: 400;
    top: 10%;
    position: absolute;
    left: -webkit-calc(50% - 260px);
    background-color: rgb(240, 240, 240);
    border: 1px solid gray;
    border-radius: 10px;
    text-shadow: none;
    color: #fff;
    z-index: 9999999;
    -webkit-box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 25px;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 25px;
    -webkit-user-select: none;
}

    .requestSupportWindow .draggableTitle {
        color: #333;
        font-size: 18px;
        font-weight: normal;
        background-color: rgb(230, 230, 230);
        padding: 5px;
        border-radius: 9px 9px 0 0;
        text-align: left;
        padding-left: 14px;
        border: 0;
        border-bottom: 1px solid grey;
        cursor: move;
    }

    .requestSupportWindow .requestSupportContainer {
        position: relative;
        background-color: white;
        padding: 15px 10px;
        color: #333;
        text-align: left;
    }

        .requestSupportWindow .requestSupportContainer .recordScenario {
            border-top: 1px solid #edcccc;
            background: #f56565;
            background: -webkit-linear-gradient(top, #d92323, #f56565);
            padding: 5px 10px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
            -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
            box-shadow: rgba(0,0,0,1) 0 1px 0;
            text-shadow: rgba(0,0,0,.4) 0 1px 0;
            color: white;
            font-size: 14px;
            font-family: Helvetica, Arial, Sans-Serif;
            text-decoration: none;
            vertical-align: middle;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
            text-align: center;
            position: relative;
            top: -10px;
            transition: 300ms opacity ease-in-out;
            cursor: pointer;
        }

            .requestSupportWindow .requestSupportContainer .recordScenario:hover {
                background: -webkit-linear-gradient(top, #f93333, #ff7575);
            }

            .requestSupportWindow .requestSupportContainer .recordScenario[disabled] {
                cursor: default;
                opacity: .1;
                transition: 100ms opacity ease-in-out;
            }

        .requestSupportWindow .requestSupportContainer textarea {
            height: 150px;
            width: 500px;
            box-sizing: border-box;
        }

        .requestSupportWindow .requestSupportContainer .requestSupportScreenshotContainer {
            position: relative;
            width: 100%;
        }

            .requestSupportWindow .requestSupportContainer .requestSupportScreenshotContainer .emptyScreenshot {
                display: none;
                position: relative;
                cursor: pointer;
                height: 100px;
                width: 150px;
                margin-left: auto;
                margin-right: auto;
                background-size: 100px;
                background-position: 50% -10px;
                background-repeat: no-repeat;
                border: 2px #EEF outset;
                background-image: url('chrome-extension://__MSG_@@extension_id__/resources/images/screenshot.png');
            }

                .requestSupportWindow .requestSupportContainer .requestSupportScreenshotContainer .emptyScreenshot:after {
                    content: "Take a screenshot";
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    left: 0px;
                    color: #999;
                    font-size: 14px;
                    bottom: 2px;
                }

            .requestSupportWindow .requestSupportContainer .requestSupportScreenshotContainer.requestSupportScreenshotEmpty .emptyScreenshot {
                display: block;
            }

            .requestSupportWindow .requestSupportContainer .requestSupportScreenshotContainer.requestSupportScreenshotEmpty .requestSupportScreenshot {
                display: none;
            }

            .requestSupportWindow .requestSupportContainer .requestSupportScreenshotContainer .requestSupportScreenshot {
                background-size: cover;
                display: block;
                border: 2px inset #CCF;
                margin-left: auto;
                margin-right: auto;
            }


    .requestSupportWindow .actionPanel {
        position: relative;
        background-color: white;
        /* border-top: 1px solid gray; */
        height: 51px;
        border-radius: 0 0 9px 9px;
    }

        .requestSupportWindow .actionPanel .okButton {
            position: absolute;
            top: 10px;
            left: 50%;
            -webkit-transform: translate3d(-40px, 0, 0);
            width: 80px;
        }

.uib-imagecolect-background {
    border-radius: 0px 0px;
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 98500;
    margin: 0;
    min-width: 1px;
    overflow: hidden;
}

    .uib-imagecolect-background div {
        border-radius: 0px 0px;
        margin: 0;
    }

    .uib-imagecolect-background .uib-imagecolect-shadow_top,
    .uib-imagecolect-background .uib-imagecolect-shadow_bottom,
    .uib-imagecolect-background .uib-imagecolect-shadow_left,
    .uib-imagecolect-background .uib-imagecolect-shadow_right {
        background-color: #000000;
        opacity: 0.5;
        position: absolute;
        z-index: 97000;
        border: 0;
    }

    .uib-imagecolect-background .uib-imagecolect-shadow_top {
        left: 0;
        top: 0;
    }

    .uib-imagecolect-background .uib-imagecolect-shadow_bottom {
        bottom: 0;
        right: 0;
    }

    .uib-imagecolect-background .uib-imagecolect-shadow_left {
        bottom: 0;
        left: 0;
    }

    .uib-imagecolect-background .uib-imagecolect-shadow_right {
        right: 0;
        top: 0;
    }

    .uib-imagecolect-background .uib-imagecolect-area {
        height: 100px;
        left: 150px;
        position: absolute;
        top: 100px;
        width: 250px;
        z-index: 99999;
    }

        .uib-imagecolect-background .uib-imagecolect-area .uib-imagecolect-container {
            outline: 1px solid rgb(0, 0, 255);
            cursor: move;
            height: 100%;
            margin: 0;
            overflow: hidden;
            padding: 0;
            position: relative;
            width: 100%;
            z-index: 99997;
        }

        .uib-imagecolect-background .uib-imagecolect-area .uib-imagecolect-size {
            background-color: rgba(44, 44, 44, 0.5);
            color: #ffffff;
            font-family: arial,san-serif;
            font-weight: bold;
            font-size: 12px;
            height: 18px;
            min-width: 65px !important;
            left: 12px;
            line-height: 18px;
            position: absolute;
            padding-left: 4px;
            padding-right: 4px;
            text-align: center;
            top: -18px;
            z-index: 99998;
        }

        .uib-imagecolect-background .uib-imagecolect-area .uib-imagecolect-cancel,
        .uib-imagecolect-background .uib-imagecolect-area .uib-imagecolect-crop {
            background-color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
            color: #ffffff;
            font-size: 12px;
            font-family: arial,san-serif;
            font-weight: bold;
            height: 22px;
            line-height: 22px;
            position: absolute;
            z-index: 99998;
        }

        .uib-imagecolect-background .uib-imagecolect-area .uib-imagecolect-cancel {
            bottom: -25px;
            text-align: center;
            right: 70px;
            min-width: 30px !important;
            padding: 0 10px;
        }

        .uib-imagecolect-background .uib-imagecolect-area .uib-imagecolect-crop {
            bottom: -25px;
            text-align: center;
            right: 10px;
            min-width: 30px !important;
            padding: 0 10px;
        }

        .uib-imagecolect-background .uib-imagecolect-area .uib-imagecolect-north_west,
        .uib-imagecolect-background .uib-imagecolect-area .uib-imagecolect-north_east,
        .uib-imagecolect-background .uib-imagecolect-area .uib-imagecolect-south_east,
        .uib-imagecolect-background .uib-imagecolect-area .uib-imagecolect-south_west {
            border: 1px solid #FFFFFF;
            background-color: #0000FF;
            height: 5px;
            position: absolute;
            width: 5px;
            z-index: 99998;
        }

        .uib-imagecolect-background .uib-imagecolect-area .uib-imagecolect-north_west {
            cursor: nw-resize;
            left: -3px;
            top: -3px;
        }

        .uib-imagecolect-background .uib-imagecolect-area .uib-imagecolect-north_east {
            cursor: ne-resize;
            right: -4px;
            top: -3px;
        }

        .uib-imagecolect-background .uib-imagecolect-area .uib-imagecolect-south_east {
            bottom: -4px;
            cursor: se-resize;
            right: -4px;
        }

        .uib-imagecolect-background .uib-imagecolect-area .uib-imagecolect-south_west {
            bottom: -4px;
            cursor: sw-resize;
            left: -3px;
        }
