<link type="text/css" rel="stylesheet" href="../resources/bootstrap-3.0.3/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="../resources/font-awesome-4.0.3/css/font-awesome.css"  />
<link type="text/css" rel="stylesheet" href="../resources/google-code-prettify/prettify.css" />
<link type="text/css" rel="stylesheet" href="../contentScript/propertiesWindow/popups/directives/abn-tree/abn_tree.css" />
<link type="text/css" rel="stylesheet" href="../contentScript/propertiesWindow/popups/directives/jsonMapper/jsonMapper.css" />
<link type="text/css" rel="stylesheet" href="../contentScript/propertiesWindow/popups/sgwData.css" />
<style>
    .prettyprint li.L0, .prettyprint li.L1, .prettyprint li.L2, .prettyprint li.L3,
    .prettyprint li.L5, .prettyprint li.L6, .prettyprint li.L7, .prettyprint li.L8 {
        list-style-type: decimal !important;
    }

    pre.prettyprint {
        padding-left: 20px;
    }
</style>

<div class="sgwDataPopup" ng-controller="sgwDataCtrl">
	<div class="sgwDataPopupHeader">
		<div class="sgwDataPopupTitle" ng-show="hasTemplate">Data Mapping Wizzard</div>
		<div class="sgwDataPopupTitle" ng-show="!hasTemplate">Data Mapping</div>
		<div class="sgwDataPopupCloseBtn" ng-click="closePopup('cancel')">
			<div class="icon fa fa-lg fa-times sgwDataPopupCloseBtnOff"></div>
			<div class="icon fa fa-lg fa-times-circle sgwDataPopupCloseBtnOn"></div>
		</div>
	</div>
	<div class="sgwDataPopupBody">
		<div class="sgwDataPopupStep" ng-show="isOnStepSelectDatasource()">
			<div class="sgwDataPopupStepHeader">
				<div class="sgwDataPopupInfoSteps" ng-show="hasTemplate">
					<div class="sgwDataPopupInfoStep sgwDataPopupInfoCurrentStep"><span class="sgwDataPopupInfoStepCounter"><div class="sgwDataPopupInfoStepCounterInner">1</div></span>Select a datasource</div>
					<div class="icon fa fa-lg fa-angle-right sgwDataPopupInfoStepArrow"></div>
					<div class="sgwDataPopupInfoStep"><span class="sgwDataPopupInfoStepCounter"><div class="sgwDataPopupInfoStepCounterInner">2</div></span>Validate data mapping</div>
					<div class="icon fa fa-lg fa-angle-right sgwDataPopupInfoStepArrow"></div>
					<div class="sgwDataPopupInfoStep"><span class="sgwDataPopupInfoStepCounter"><div class="sgwDataPopupInfoStepCounterInner">3</div></span>Confirm data mapping</div>
				</div>
				<div class="sgwDataPopupInfoSteps" ng-show="!hasTemplate">
					<div class="sgwDataPopupInfoStep sgwDataPopupInfoCurrentStep">Select a datasource</div>
				</div>
			</div>
			<div class="sgwDataPopupStepBody">
				<tabset>
					<tab heading="Rest URL" select="selectRestUrlDatasource()" active="tabs['url']">
						<div class="sgwDataPopupTabPnl">
							<div class="sgwDataPopupRestUrlInputPnl">
								<div class="sgwDataPopupRestUrlInputTitle">Rest URL:</div><input class="sgwDataPopupRestUrlInput" placeholder="rest/accounts" ng-model="data.currentSgData.url" ng-disabled="datasource.restUrlLoading " /><button class="btn sgwDataPopupRestUrlLoadBtn" ng-click="loadRestUrl()" ng-disabled="datasource.restUrlLoading || data.currentSgData.url == ''" ng-class="{false: 'btnImportant'}[datasource.ready]">Load Rest URL</button>
							</div>
							<div class="sgwDataPopupRestUrlResultPnl">
								<div class="sgwDataPopupRestUrlResultTitlePnl">
									<div class="sgwDataPopupRestUrlResultTitle">Rest URL Data:</div><div class="icon fa fa-lg fa-warning sgwDataPopupRestUrlResultWarningIcon" ng-show="datasource.restUrlStatus"></div><div class="sgwDataPopupRestUrlResultStatus" ng-bind="datasource.restUrlStatus" ng-show="!datasource.restUrlLoading"></div><div class="sgwDataPopupRestUrlResultProgressbar" ng-show="datasource.restUrlLoading"><progressbar class="progress-striped active" value="70">Requesting Rest URL...</progressbar></div>
								</div>
								<div class="sgwDataPopupRestUrlResultBodyPnl">
									<div ng-bind-html="datasource.prettyPrintRestUrlData" ></div>
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Scope" select="selectScopeDatasource()" active="tabs['scope']">
						<div class="sgwDataPopupTabPnl">
							<div class="sgwDataPopupScopeInputTitle">Select a Scope:</div>
							<div class="sgwDataPopupScopeInputBodyPnl">
								<abn-tree tree-data="datasource.scopeNavTree" icon-leaf="icon fa fa-file-o" icon-expand="icon fa fa-plus" icon-collapse="icon fa fa-minus" on-select="datasource.selectScopePath(branch)" initial-selection="data.currentSgData.scope"></abn-tree>
							</div>
							<div class="sgwDataPopupScopeInputFooterPnl">Selected Scope:<span class="sgwDataPopupSelectedScope" ng-bind="datasource.scope"></span></div>
						</div>
					</tab>
					<tab heading="Canned Data" select="selectCannedDatasource()" active="tabs['static']">
						<div class="sgwDataPopupTabPnl">
							<div class="sgwDataPopupCannedDataInputPnl">
								<div class="sgwDataPopupCannedDataInputTitle">Canned Data:</div>
								<div class="sgwDataPopupCannedDataInputBodyPnl">
									<textarea class="sgwDataPopupCannedDataTextarea" ng-model="datasource.cannedDataString"></textarea>
									<div class="sgwDataPopupCannedDatatextareafix"></div>
								</div>
								<div class="sgwDataPopupCannedDataInputFooterPnl">
									<button class="btn sgwDataPopupCheckCannedDataBtn" ng-click="checkCannedData()" ng-disabled="datasource.cannedDataString == ''" ng-class="{false: 'btnImportant'}[datasource.ready]">Check Canned Data</button>
								</div>
							</div>
							<div class="sgwDataPopupCannedDataResultPnl">
								<div class="sgwDataPopupRestUrlResultTitlePnl">
									<div class="sgwDataPopupCannedDataTitle">JSON Object:</div><div class="icon fa fa-lg fa-warning sgwDataPopupCannedDataResultWarningIcon" ng-show="datasource.cannedDataStatus"></div><div class="sgwDataPopupCannedDataResultStatus" ng-bind="datasource.cannedDataStatus"></div>
								</div>
								<div class="sgwDataPopupCannedDataResultBodyPnl">
									<div ng-bind-html="datasource.prettyPrintCannedData" ></div>
								</div>
							</div>
						</div>
					</tab>
				</tabset>
			</div>
			<div class="sgwDataPopupStepFooter">
				<div class="sgwDataPopupStepFooterBtnGroup">
					<button class="btn sgwDataPopupStepBtn" ng-click="goToStepValidateDataMapping()" ng-class="{true: 'btnImportant'}[datasource.ready]" ng-disabled="!datasource.ready" ng-show="hasTemplate">Next</button>
					<button class="btn sgwDataPopupStepBtn" ng-click="saveDatasource()" ng-class="{true: 'btnImportant'}[datasource.ready]" ng-disabled="!datasource.ready" ng-show="!hasTemplate">Save</button>
				</div>
			</div>
		</div>
		<div class="sgwDataPopupStep" ng-show="isOnStepValidateDataMapping()">
			<div class="sgwDataPopupStepHeader">
				<div class="sgwDataPopupInfoSteps">
					<div class="sgwDataPopupInfoStep"><span class="sgwDataPopupInfoStepCounter"><div class="sgwDataPopupInfoStepCounterInner">1</div></span>Select a datasource</div>
					<div class="icon fa fa-lg fa-angle-right sgwDataPopupInfoStepArrow"></div>
					<div class="sgwDataPopupInfoStep sgwDataPopupInfoCurrentStep"><span class="sgwDataPopupInfoStepCounter"><div class="sgwDataPopupInfoStepCounterInner">2</div></span>Validate data mapping</div>
					<div class="icon fa fa-lg fa-angle-right sgwDataPopupInfoStepArrow"></div>
					<div class="sgwDataPopupInfoStep"><span class="sgwDataPopupInfoStepCounter"><div class="sgwDataPopupInfoStepCounterInner">3</div></span>Confirm data mapping</div>
				</div>
			</div>
			<div class="sgwDataPopupStepBody">
				<div class="sgwDataPopupBodyPnl">
			        <div json-mapper>             
			            <div class="JSONblock availableData">
			                <div class="prettifyTitle">Available data model</div>
							<div class="prettifyBody">
			                	<div available prettify="datasource.availableData">
			                	</div>
							</div>
			            </div>
			            <div class="JSONblock expectedData">
							<div class="prettifyTitle">Expected data model</div>
							<div class="prettifyBody">
			                	<div expected prettify="datasource.templateData">  
								</div>                 
			                </div>
			            </div>
			        </div>
				</div>
			</div>
			<div class="sgwDataPopupStepFooter">
				<div class="sgwDataPopupStepFooterBtnGroup">
					<button class="btn sgwDataPopupStepBtn" ng-click="goToStepSelectDatasource()">Previous</button>
					<button class="btn sgwDataPopupStepBtn" ng-click="goToStepConfirmDataMapping()" ng-class="{true: 'btnImportant'}[output.hasUnmappedValues() && output.status]" ng-disabled="!output.status">Preview</button>
					<button class="btn sgwDataPopupStepBtn btnImportant" ng-click="goToStepConfirmDataMapping()" ng-class="{false: 'btnImportant'}[output.hasUnmappedValues()]" ng-disabled="output.hasUnmappedValues()">Next</button>
				</div>
			</div>
		</div>
		<div class="sgwDataPopupStep" ng-show="isOnStepConfirmDataMapping()">
			<div class="sgwDataPopupStepHeader">
				<div class="sgwDataPopupInfoSteps">
					<div class="sgwDataPopupInfoStep"><span class="sgwDataPopupInfoStepCounter"><div class="sgwDataPopupInfoStepCounterInner">1</div></span>Select a datasource</div>
					<div class="icon fa fa-lg fa-angle-right sgwDataPopupInfoStepArrow"></div>
					<div class="sgwDataPopupInfoStep"><span class="sgwDataPopupInfoStepCounter"><div class="sgwDataPopupInfoStepCounterInner">2</div></span>Validate data mapping</div>
					<div class="icon fa fa-lg fa-angle-right sgwDataPopupInfoStepArrow"></div>
					<div class="sgwDataPopupInfoStep sgwDataPopupInfoCurrentStep"><span class="sgwDataPopupInfoStepCounter"><div class="sgwDataPopupInfoStepCounterInner">3</div></span>Confirm data mapping</div>
				</div>
			</div>
			<div class="sgwDataPopupStepBody">
				<div class="sgwDataPopupBodyPnl">
					<div class="sgwDataPopupOutputPnl">
						<div class="sgwDataPopupOutputSectionTitle" ng-click="output.isJsCollapsed = !output.isJsCollapsed" ng-show="output.status">Generated Mapping Transformer<i class="icon fa" ng-class="{true: 'fa-chevron-right', false: 'fa-chevron-down'}[output.isJsCollapsed]"></i></div>
						<div ng-bind-html="output.js" collapse="output.isJsCollapsed" ng-show="output.status"></div>
						<br>
						<div class="sgwDataPopupOutputSectionTitle" ng-click="output.isJsonCollapsed = !output.isJsonCollapsed" ng-show="output.status">Resulting JSON<i class="icon fa" ng-class="{true: 'fa-chevron-right', false: 'fa-chevron-down'}[output.isJsonCollapsed]"></i></div>
						<div ng-bind-html="output.json" collapse="output.isJsonCollapsed" ng-show="output.status"></div>
					</div>
				</div>
			</div>
			<div class="sgwDataPopupStepFooter">
				<div class="sgwDataPopupStepFooterBtnGroup">
					<button class="btn sgwDataPopupStepBtn" ng-click="goToStepValidateDataMapping()">Previous</button>
					<button class="btn sgwDataPopupStepBtn btnImportant sgwDataPopupStepImportantBtn" ng-click="saveDatasource()" ng-show="!output.hasUnmappedValues()">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>
