body {
    font-family: Arial,sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #333333;
}

body, label, button, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .btn {
    font: normal 14px Arial;
    line-height: 20px;
}

input, button, select, textarea {
    font-family: Arial,sans-serif;
}

label, input, button, select, textarea {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}

    button, input[type="button"], input[type="reset"], input[type="submit"] {
        cursor: pointer;
        -webkit-appearance: button;
    }

button, input {
    line-height: normal;
}

button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

.btn {
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

.btn {
    display: inline-block;
    padding: 4px 14px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #bbbbbb;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

    .btn:active, .btn.active {
        background-color: #cccccc \9;
    }

    .btn:first-child {
        *margin-left: 0;
    }

    .btn:hover {
        color: #333333;
        text-decoration: none;
        background-color: #e6e6e6;
        *background-color: #d9d9d9;
        background-position: 0 -15px;
        -webkit-transition: background-position 0.1s linear;
        -moz-transition: background-position 0.1s linear;
        -o-transition: background-position 0.1s linear;
        transition: background-position 0.1s linear;
    }

    .btn:focus {
        outline: thin dotted #333;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .btn.active, .btn:active {
        background-color: #e6e6e6;
        background-color: #d9d9d9 \9;
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .btn.disabled, .btn[disabled] {
        cursor: default;
        background-color: #e6e6e6;
        background-image: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }


.btnImportant {
    color: white;
    text-shadow: 0 1px 1px rgba(25, 25, 25, 0.75);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#6fcdfc', GradientType=0);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0088cc),to(#6fcdfc)); /* #7C3581  #67256F */
    background-image: -ms-linear-gradient(top, #0088cc, #6fcdfc);
    background: -moz-linear-gradient(center top, #0088cc, #6fcdfc);
}

    .btnImportant:active,
    .btnImportant:hover {
        color: white;
        text-shadow: 0 1px 1px rgba(25, 25, 25, 0.75);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005580', endColorstr='#0683c2', GradientType=0);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#005580),to(#0683c2));
        background-image: -ms-linear-gradient(top, #005580, #0683c2);
        background: -moz-linear-gradient(center top, #005580, #0683c2);
        background-position: 0;
    }

    .btnImportant[disabled="disabled"],
    .btnImportant[disabled="disabled"]:active,
    .btnImportant[disabled="disabled"]:hover {
        background-color: #e6e6e6;
        background-image: none;
        text-shadow: none;
        color: #bfbfbf;
    }

.prettyprint li.L0, .prettyprint li.L1, .prettyprint li.L2, .prettyprint li.L3,
.prettyprint li.L5, .prettyprint li.L6, .prettyprint li.L7, .prettyprint li.L8 {
    list-style-type: decimal !important;
}

pre.prettyprint {
    padding-left: 20px;
    -webkit-user-select: initial;
}

.sgwDataPopup {
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 7px 0px;
    margin: 10px;
}

.sgwDataPopupHeader {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 28px;
    border-top: 1px solid white;
    border-bottom: 1px solid #aaaaaa;
    background-color: #e3e3e3;
}

.sgwDataPopupBody {
    position: relative;
    width: 100%;
    height: calc(100% - 28px);
    background-color: white;
}

.sgwDataPopupTitle {
    position: absolute;
    top: 5px;
    left: 10px;
    font: 16px normal Arial;
}

.sgwDataPopupCloseBtn {
    position: absolute;
    width: 26px;
    height: 26px;
    right: 0;
    padding-top: 8px;
    padding-left: 8px;
    color: #222222;
}

    .sgwDataPopupCloseBtn .sgwDataPopupCloseBtnOff,
    .sgwDataPopupCloseBtn .sgwDataPopupCloseBtnOn {
        font-size: 16px;
        color: #444444;
        cursor: pointer;
    }

    .sgwDataPopupCloseBtn .sgwDataPopupCloseBtnOff {
        display: inline-block;
    }

    .sgwDataPopupCloseBtn .sgwDataPopupCloseBtnOn {
        display: none;
    }

    .sgwDataPopupCloseBtn:hover .sgwDataPopupCloseBtnOff {
        display: none;
    }

    .sgwDataPopupCloseBtn:hover .sgwDataPopupCloseBtnOn {
        display: inline-block;
    }

.sgwDataPopupStep {
    position: relative;
    width: 100%;
    height: 100%;
}

.sgwDataPopupStepHeader {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    box-sizing: border-box;
    -webkit-user-select: none;
}

.sgwDataPopupStepBody {
    position: relative;
    width: 100%;
    height: calc(100% - 60px - 50px);
    padding: 0 20px;
    box-sizing: border-box;
    -webkit-user-select: none;
}

.sgwDataPopupStepFooter {
    position: relative;
    width: calc(100% - 40px);
    height: 30px;
    margin: 10px 20px;
    box-sizing: border-box;
}

.sgwDataPopupStepFooterBtnGroup {
    position: absolute;
    bottom: 0;
    right: 0;
}

.sgwDataPopupStepBtn {
    float: left;
    position: relative;
    min-width: 80px;
    box-sizing: border-box;
}

.sgwDataPopupStepImportantBtn {
    font-weight: bold;
}

.sgwDataPopupStepBtn + .sgwDataPopupStepBtn {
    margin-left: 10px;
}

.sgwDataPopupBodyPnl {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 20px;
}

.sgwDataPopupTabPnl {
    position: relative;
    width: 100%;
    height: calc(100% - 40px);
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-top: 0;
}

.sgwDataPopupInfoSteps {
    position: relative;
    height: 40px;
}

.sgwDataPopupInfoStep {
    float: left;
    position: relative;
    color: #333333;
    font: 20px normal Arial;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: #757575;
}

.sgwDataPopupInfoStepCounter {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #757575;
    border-radius: 20px;
    margin-right: 6px;
}

.sgwDataPopupInfoStepCounterInner {
    margin-left: 5px;
    margin-top: -2px;
    font-size: 18px;
}

.sgwDataPopupInfoStep:first-child {
    padding-left: 0;
}

/*
		.sgwDataPopupInfoStep:last-child {
			padding-right: 0;
		}
		*/

.sgwDataPopupInfoCurrentStep {
    font-weight: bolder;
    color: #333333;
}

    .sgwDataPopupInfoCurrentStep .sgwDataPopupInfoStepCounter {
        border-color: #333333;
    }

.sgwDataPopupInfoStepArrow {
    float: left;
    position: relative;
    font-size: 50px;
    color: #757575;
}

.sgwDataPopupRestUrlInputPnl {
    position: relative;
    height: 40px;
}

.sgwDataPopupRestUrlInputTitle {
    display: inline-block;
}

.sgwDataPopupRestUrlInput {
    display: inline-block;
    margin-left: 5px;
    width: 470px;
}

.sgwDataPopupRestUrlLoadBtn {
    display: inline-block;
    margin-left: 5px;
}

.sgwDataPopupRestUrlResultPnl {
    position: relative;
    padding-top: 10px;
    height: calc(100% - 40px);
}

.sgwDataPopupRestUrlResultTitlePnl {
    position: relative;
    height: 20px;
}

.sgwDataPopupRestUrlResultTitle {
    display: inline-block;
}

.sgwDataPopupRestUrlResultWarningIcon {
    margin-left: 5px;
    color: #EC3F41;
}

.sgwDataPopupRestUrlResultStatus {
    display: inline-block;
    margin-left: 5px;
    color: #EC3F41;
}

.sgwDataPopupRestUrlResultProgressbar {
    position: absolute;
    top: -2px;
    left: 105px;
    width: 200px;
}

    .sgwDataPopupRestUrlResultProgressbar > .progress {
        margin: 0;
    }

.sgwDataPopupRestUrlResultBodyPnl {
    position: relative;
    height: calc(100% - 20px);
    overflow: auto;
    border: 1px solid #dddddd;
    background-color: #f5f5f5;
}

    .sgwDataPopupRestUrlResultBodyPnl pre.prettyprint {
        border: 0;
        padding-left: 20px;
        -webkit-user-select: initial;
    }

.sgwDataPopupScopeInputTitle {
    position: relative;
    width: 100%;
    height: 20px;
}

.sgwDataPopupScopeInputBodyPnl {
    position: relative;
    width: 100%;
    height: calc(100% - 20px - 40px);
    border: 1px solid #ddd;
    overflow: auto;
}

.sgwDataPopupScopeInputFooterPnl {
    position: relative;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    margin-top: 10px;
}

.sgwDataPopupSelectedScope {
    background-color: #428bca;
    color: white;
    border-radius: 4px;
    padding: 5px;
    margin-left: 5px;
}

.sgwDataPopupCannedDataInputPnl {
    position: absolute;
    height: calc(100% - 40px);
    width: calc(50% - 30px);
}

.sgwDataPopupCannedDataInputTitle {
    position: relative;
    width: 100%;
    height: 20px;
}

.sgwDataPopupCannedDataInputBodyPnl {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
}

    .sgwDataPopupCannedDataInputBodyPnl textarea {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .sgwDataPopupCannedDataInputBodyPnl .sgwDataPopupCannedDatatextareafix {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 15px;
        height: 15px;
        background-color: transparent;
    }

.sgwDataPopupCheckCannedFooterPnl {
    position: relative;
    width: 100%;
    height: 40px;
}

.sgwDataPopupCheckCannedDataBtn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.sgwDataPopupCannedDataResultPnl {
    position: absolute;
    height: calc(100% - 40px);
    width: calc(50% - 30px);
    left: calc(50% + 10px);
}

.sgwDataPopupCannedDataResultTitlePnl {
    position: relative;
    height: 20px;
}

.sgwDataPopupCannedDataResultTitle {
    display: inline-block;
}

.sgwDataPopupCannedDataResultWarningIcon {
    position: absolute;
    top: 3px;
    left: 90px;
    color: #EC3F41;
}

.sgwDataPopupCannedDataResultStatus {
    position: absolute;
    top: 0;
    left: 115px;
    color: #EC3F41;
}

.sgwDataPopupCannedDataResultBodyPnl {
    position: relative;
    height: calc(100% - 20px);
    overflow: auto;
    border: 1px solid #dddddd;
    background-color: #f5f5f5;
}

    .sgwDataPopupCannedDataResultBodyPnl pre.prettyprint {
        border: 0;
        padding-left: 20px;
        -webkit-user-select: initial;
    }

.sgwDataPopupOutputPnl {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.sgwDataPopupOutputSectionTitle {
    font-size: 16px;
    cursor: pointer;
}

    .sgwDataPopupOutputSectionTitle > i.icon {
        padding-left: 5px;
    }
