
.appConfigWindowPanel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(25, 25, 25, 0.55);
    z-index: 9999999;
}

.appConfigWindow {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: 400;
    position: relative;
    width: 340px;
    top: 100px;
    left: -webkit-calc(50% - 200px);
    background-color: rgb(240, 240, 240);
    border: 1px solid gray;
    border-radius: 10px;
    text-shadow: none;
    color: #fff;
    z-index: 9999999;
    -webkit-box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 25px;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 25px;
}

    .appConfigWindow .appConfigDraggableTitle {
        color: #333;
        font-size: 18px;
        font-weight: normal;
        background-color: rgb(230, 230, 230);
        margin-bottom: 0;
        padding: 5px;
        border-radius: 9px 9px 0 0;
        text-align: left;
        padding-left: 14px;
        border: 0;
        border-bottom: 1px solid grey;
        cursor: move;
    }


    .appConfigWindow .appConfigContainer {
        position: relative;
        height: 400px;
        padding: 15px;
        background-color: white;
        box-sizing: border-box;
    }

        .appConfigWindow .appConfigContainer .appConfigInnerContainer {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            overflow-y: auto;
        }

    .appConfigWindow .appConfigActionPanel {
        position: relative;
        background-color: white;
        border-top: 1px solid gray;
        height: 51px;
        border-radius: 0 0 9px 9px;
    }

        .appConfigWindow .appConfigActionPanel .appConfigCancelPageButton {
            position: absolute;
            top: 10px;
            left: 15%;
            width: 80px;
        }

        .appConfigWindow .appConfigActionPanel .appConfigConfirmPageButton {
            position: absolute;
            top: 10px;
            right: 15%;
            width: 80px;
        }


    .appConfigWindow .appConfigSection {
        position: relative;
        width: 100%;
        font: normal 14px Arial;
        color: #333333;
    }

        .appConfigWindow .appConfigSection + .appConfigSection {
            margin-top: 20px;
        }

    .appConfigWindow .appConfigSectionHeader {
        position: relative;
        width: 100%;
        padding-bottom: 3px;
        font: normal 16px Arial;
    }

    .appConfigWindow .appConfigSectionBody {
        position: relative;
        width: 100%;
        border: 1px solid gray;
        font: normal 14px Arial;
    }

        .appConfigWindow .appConfigSectionBody input[type="checkbox"] {
            vertical-align: initial;
        }

    .appConfigWindow .appConfigSection .browsersContainer {
        position: relative;
        width: 300px;
        height: 60px;
        margin: 0 5px;
    }

        .appConfigWindow .appConfigSection .browsersContainer .browser {
            float: left;
            display: inline-block;
            padding: 5px;
        }

        .appConfigWindow .appConfigSection .browsersContainer input {
            margin-right: 3px;
        }

        .appConfigWindow .appConfigSection .browsersContainer .browserLabel {
        }

            .appConfigWindow .appConfigSection .browsersContainer .browserLabel + input,
            .appConfigWindow .appConfigSection .browsersContainer .icon + input {
                margin-left: 3px;
            }

        .appConfigWindow .appConfigSection .browsersContainer .icon {
            display: inline-block;
            vertical-align: middle;
            height: 20px;
            width: 20px;
            background-size: 20px 20px;
            background-repeat: no-repeat;
        }

        .appConfigWindow .appConfigSection .browsersContainer .icon_ie {
            background-image: url('chrome-extension://__MSG_@@extension_id__/resources/browsers/compatible_ie2020.gif');
        }

        .appConfigWindow .appConfigSection .browsersContainer .icon_chrome {
            background-image: url('chrome-extension://__MSG_@@extension_id__/resources/browsers/compatible_chrome2020.gif');
        }

        .appConfigWindow .appConfigSection .browsersContainer .icon_safari {
            background-image: url('chrome-extension://__MSG_@@extension_id__/resources/browsers/compatible_safari2020.gif');
        }

        .appConfigWindow .appConfigSection .browsersContainer .icon_firefox {
            background-image: url('chrome-extension://__MSG_@@extension_id__/resources/browsers/compatible_firefox2020.gif');
        }

        .appConfigWindow .appConfigSection .browsersContainer .icon_opera {
            background-image: url('chrome-extension://__MSG_@@extension_id__/resources/browsers/compatible_opera2020.gif');
        }

        .appConfigWindow .appConfigSection .browsersContainer .icon_android {
            background-image: url('chrome-extension://__MSG_@@extension_id__/resources/browsers/compatible_android2020.gif');
        }

        .appConfigWindow .appConfigSection .browsersContainer .icon_ios {
            background-image: url('chrome-extension://__MSG_@@extension_id__/resources/browsers/compatible_ios2020.gif');
        }


    .appConfigWindow .appConfigShellPanel {
        position: relative;
        width: 100%;
        padding: 10px;
    }

    .appConfigWindow .appConfigShellItem {
        position: relative;
        width: 100%;
    }

        .appConfigWindow .appConfigShellItem + .appConfigShellItem {
            margin-top: 8px;
        }

    .appConfigWindow .appConfigSectionBody span + select {
        margin-left: 5px;
    }

    .appConfigWindow .appConfigSectionBody input + span {
        margin-left: 5px;
    }
    
    .appConfigWindow .appConfigAdaPanel {
        position: relative;
        width: 100%;
        padding: 10px;
    }

